<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <title>Eco project</title>
</head>
<body>
<header>
    <nav>
        <h2 class="logo">Eco Project</h2>
        <div class="header_links_container">
            <a href="/" class="header_links">Pullution</a>
            <a href="/pollutant" class="header_links">Pollutant</a>
            <a href="/object" class="header_links">Object</a>
            <a href="/tax" class="header_links">Tax</a>
        </div>
    </nav>
</header>

<section class="main_body">
    <h2 class="body_header">
        Object
    </h2>
    <div class="button_container">
        <a th:href="@{/object/add}" class="boddy_button">Add new Object</a>
        <form class = "form" th:method="POST" enctype="multipart/form-data" th:action="@{/object/uploadFile}">

            <input name="file" id="file"  type="file"/>
            <button class="boddy_button" type="submit">
                Upload file
            </button>
        </form>
    </div>
    <table class="content-table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Назва об'єкту</th>
            <th>Опис</th>
            <th> </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="object :${allObject}">
            <td th:text="${object.getId()}"></td>
            <td th:text="${object.getName()}"></td>
            <td th:text="${object.getDescription()}"></td>
            <td>
                <form th:action="@{/object/delete/{id}(id=${object.getId()})}" method="post">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</section>
</body>
</html>